
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
# Ignore Docker and dependency files
Dockerfile
docker-compose.yml
composer.lock
symfony.lock

###< symfony/framework-bundle ###
